
.DS_Store
.idea
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**google_credentials.json
**.json
**logs/
**.env
**.venv
**__pycache__/
.history
**/ny_taxi_postgres_data/*
serving_dir
.ipynb_checkpoints/
!week_6_stream_processing/avro_example/data/rides.csv
**/03-data-warehouse/extras/*.csv.gz
**/03-data-warehouse/extras/*.parquet
# Included this files of hadoop due to size and quantity
**/05-batch/spark-3.3.2-bin-hadoop3/
**/05-batch/tools/

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
# end dbt Cloud content
